html {
    font-size: 20px;
    font-family: 'Open-san' , sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}
body {
    margin: 0 auto;
    background-color: #062a4b;
    padding: 0 20px 20px 20px;
}
.content {
    width: 50%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: #589fe2;
    border: 5px solid black;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin:0;
    padding: 20px 0;
    color: #162c40;
    text-shadow: 3px 3px 1px black;
}
img {
    display: block;
    margin: 0 auto;
    padding: 5px;
    max-width: fit-content;
    max-height: fit-content;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
ol {
    list-style-type: lower-roman;
}
figcaption {
    text-align: center;
}
.popular {
    border: red dotted;
    line: 4px;
}
p {
    color: blue;
}
*{
    box-sizing: border-box;
}
/* for screen weight less than 1040px  */
@media screen and (max-width: 1039px) {
    a, p, li {
        font-size: 18px;
        line-height: auto;
        letter-spacing: auto;
    }

    img {
        max-width: fit-content;
        height: fit-content;
        object-fit: contain;
    }

    html {
        margin:0 auto;
        padding: 0 auto;
    }

    .content {
        width: auto;
        margin: 0 auto;
        padding: 0 20px 20px 20px;
        background-color: #589fe2;
        border: 5px solid black;
}
}    
/* for screen weight more than 1040px  */
@media screen and (min-width: 1040px) {
    a, p, li {
        font-size: 18px;
        line-height: auto;
        letter-spacing: auto;
    }

    img {
        max-width: fit-content;
        height: fit-content;
        object-fit: contain;
    }
    .content {
        width: 50%;
        margin: 0 auto;
        padding: 0 20px 20px 20px;
        background-color: #589fe2;
        border: 5px solid black;
    }
}
